/*-------- Global --------*/

body {
	background: #000;
	font-family: monospace;
}

img {
	max-width: 320px;
}

/*-------- Header Styles --------*/

.links {
	background: white;
	padding: 0 1em;
	position: fixed;
	top: 0;
	width: 100%;
}

.links a {
	padding: 0 1em;
	color: blue;
}

.links a {
	text-decoration: none;
}

.links a:hover {
	background: black;
	color: white;
}

/*-------- Header Styles --------*/

main {
	padding-top: 1em;
}

/*-------- Moble / Media Queries --------*/

@media only screen and (max-width: 1200px) {
	img {
		width: 100%;
	}
}
