/*-------- Blog CSS --------*/

@keyframes darktolight {
    from {
        background: #000;
        color: #FFF;
    }
    to {
        background: #FFF;
        color: #000;
    }
}

@keyframes lighttodark {
    from {
        background: #FFF;
        color: #000;
    }
    to {
        background: #000;
        color: #FFF;
    }
}

.blog {
    font-family: Sans-serif;
    margin: 3em auto;
    width: 50%;
}

.blog.preload {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.blog.dark {
    border: 1px solid #CCC;
    background: #000;
    color: #FFF;

    animation-name: lighttodark;
    animation-duration: 1s;
}

.blog.light {
    background: #FFF;
    color: #000;

    animation-name: darktolight;
    animation-duration: 1s;
}

/*-------- Blog Post Controls --------*/

.blog .blog-controls {
    position: fixed;
    width: 32px;
}

.blog .blog-controls button {
    margin: 1.33em 0;
    padding: 1em 0.5em;
}

.blog.light .post a {
    color: #0000EE;
}
